{%extends 'layout.html' %} {% block body %}
<div class="container">
    <div class="card">
      <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Category Browsing</h3>
        <form method = "POST" class = "needs-validation" novalidate>
          <div class="form-row">  
          <div class="form-group col-md-4">
              <label for="Query">Enter Query</label>
              <input
                type="text"
                class="form-control"
                name="Query"
                id="Query"
              required/>
            </div>
            <div class="form-group col-md-4">
              <label for="query">Category</label>
              <input
                type="text"
                class="form-control"
                name="category"
                id="category"
              required/>
            </div>
            <div class="form-group col-md-4">
              <label for="batch">Batch Number</label>
              <input
                type="number"
                class="form-control"
                name="batch"
                id="batch"
              required/>
            </div>
          </div>
          <div class="form-row">  
            <div class="form-group col-md-6">
                <label for="first">Associate 1</label>
                <input
                  type="text"
                  class="form-control"
                  name="first"
                  id="first"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="anno_first">Annotation 1</label>
                <select class="form-control" id="anno_first" name = "anno_first">
                    <option></option>
                    <option>Perfect</option>
                    <option>Complementary</option>
                    <option>Other Related</option>
                    <option>Irrelevant</option>
                    <option>Implicit</option>
                    <option>Supercategory</option>
                    <option>Catch All</option>
                    <option>Not Sold</option>
                </select>
                <div id = "vanno_first" class="invalid-feedback" style="display: none;">
                  Please fill the entry.
                </div>
              </div>              
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                <label for="second">Associate 2</label>
                <input
                  type="text"
                  class="form-control"
                  name="second"
                  id="second"
                />
              </div>
            <div class="form-group col-md-6">
              <label for="anno_scond">Annotation 2</label>
              <select class="form-control" id="anno_second" name = "anno_second">
                  <option></option>
                  <option>Perfect</option>
                  <option>Complementary</option>
                  <option>Other Related</option>
                  <option>Irrelevant</option>
                  <option>Implicit</option>
                  <option>Supercategory</option>
                  <option>Catch All</option>
                  <option>Not Sold</option>
              </select>
              <div id = "vanno_second" class="invalid-feedback" style="display: none;">
                Please fill the entry.
              </div>
            </div>
          </div>
          <div class="form-row">            
              <div class="form-group col-md-6">
                <label for="name">Judgement By</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                />
              </div>
              <div class="form-group col-md-6">
              <label for="final">Final</label>
              <select class="form-control" id="final" name = "final">
                <option></option>
                <option>Perfect</option>
                <option>Complementary</option>
                <option>Other Related</option>
                <option>Irrelevant</option>
                <option>Implicit</option>
                <option>Supercategory</option>
                <option>Catch All</option>
                <option>Not Sold</option>
            </select>
            </div>
        </div>          
          <input type="submit" value = "Add" class="btn btn-outline-success"></input></form>
      </div>
    </div>
</div>
<script>
document.getElementById('first').addEventListener('focus', validate_first)
document.getElementById('second').addEventListener('focus', validate_second)
function validate_first(){
  const first = document.getElementById('first')  
  document.getElementById('vanno_first').style.display = 'block'  
}
function validate_second(){
  const second = document.getElementById('second')
  document.getElementById('vanno_second').style.display = 'block'
}
</script>
{%endblock%}